.content-container {
  	max-width: 118rem;
	margin: 0 auto;
}

.content-block {
	margin-left: 3rem;
}

.content-block-column {
}

.content-block-row {
	display: flex;
	@media (max-width: $desktop-breakpoint) {
	    flex-direction: column;
	}
}

.content-block-item {
    background: #fff8f0;
    margin-bottom: $m-size;
}

.content-item {
	margin-right: 3rem;
	max-width: 30rem;
	min-width: 25rem;
	background-color: white;
}

.content-item-panel {
	max-width: 37vw;
	min-width: 30rem;
	background: white;
	padding: $m-size;
}

.content-item-panel p {
	padding-bottom: $m-size;
	margin: 0;
}

.content-item-panel h3 {
	margin: 0;
}

.item-right {
	margin-left: auto;
	margin-right: 0;
}

.item-left{
}