.footer {
  margin-top: 10rem;
  height: 20rem;
  background-color: #fff8f0;
}

.footer__content {
  margin: 0 auto;
  max-width: 118rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.footer__links {
  display: flex;
  margin: auto;
  width: 65%;
  justify-content: space-around;
}

.footer__links a {
  padding: 0.3rem;
  color: #656565;
  text-decoration: none;
  background-color: #fff8f0;
}