.header {
  height: 11rem;
}

.header__content {
  margin: 0 auto;
  max-width: 118rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}