.text-input {
	width: 70rem;
	max-width: 100%;
	border: 1px solid #cacccd;
	height: 5rem;
	font-size: $font-size-large;
	font-weight: 300;
	padding: $s-size;
}

.input-item {
	margin: 2rem 0px;
}

.select {
	@extend .text-input;
}

.textarea {
	@extend .text-input;
	height: 10rem;
}
